* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INICIO A */
.mb-titulo {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.mb-position-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-img-persona {
    width: 326px;
    height: 363px;
    margin: 30px auto;
    border-radius: 15px;
    display: flex;
}

.mb-text-card {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 25px;
    line-height: 64px;
    color: #FFFFFF;
}

/* INICIO B */
.mb-container-btns {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-position-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-btn-except {
    border-radius: 10px;
    width: 538px;
    height: 106px;
    cursor: pointer;
    margin: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 23px;
    font-weight: medium;
    text-decoration: none;
}

.mb-btn-entrar {
    border: 2px solid #F9B233;
    background-color: #F9B233;
    color: #192C4F;
}

.mb-btn-entrar:hover {
    border: 2px solid #F29E07;
    background-color: #F29E07;
    font-size: 24px;
}

.mb-btn-criar {
    border: 2px solid #F9B233;
    background-color: transparent;
    color: #FFF;
}

.mb-btn-criar:hover {
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #192C4F;
    font-size: 24px;
}

/* LOGIN C */

.mb-input-position {
    width: 590px;
    margin: 40px 0;
}

.mb-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* VERIFICAÇÃO EMAIL E */
.mb-security-code {
    align-items: center;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-img-codigo {
    margin-top: 65px;
    margin-bottom: 20px;
}

.mb-text-verificacaoemnail {
    font-family: 'Hind';
    font-style: normal;
    font-weight: medium;
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
}

/* BLUETOOTH L */
.mb-background-retangulo2-bluetooth {
    width: 560px;
    height: 400px;
    background: #192C4F;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mb-titulo-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* COLETAR DIGITAL F */
.mb-position-text-digital {
    width: 580px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

/* COLETAR DIGITAL I */
.mb-position-center {
    margin: 60px;
}

/* AJUDA MOTORISTA M */
.mb-config-text {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #192C4F;
}

.mb-position-p {
    display: flex;
    justify-content: center;
    margin: 98px 0 60px 0;
}

.mb-position-p1 {
    display: flex;
    justify-content: center;
    margin: 60px 0 60px 0;
}

.mb-position-btns-help {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.mb-position-btns-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONFIGURAÇÕES O */
.mb-text-configuracoes {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}

.mb-position-container-configuracoes {
    width: 500px;
    height: 359px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* HOME MOTORISTA N */
.mb-bgd-main-moto {
    background-color: #1A345B;
}

/*.mb-background-sinal-moto {
    position: absolute;
    z-index: 0;
}
*/
.mb-position-colunas-moto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    margin: 60px;
}

.mb-positino-box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.mb-home-mapa {
    width: 583px;
    height: 431px;
    background-color: #2196F3;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mb-btn-one-home-moto {
    width: 162px;
    height: 144px;
    background: #101D32;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #000000;
}

.mb-position-btn-moto {
    display: flex;
    flex-direction: row;
}

.mb-btn-ajuda-moto {
    width: 583px;
    height: 134px;
    background: #BF0000;
    border-radius: 10px;
    border: 1px solid #B10101;
    cursor: pointer;
    margin: 10px 0 15px 0;
}

.mb-positino-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.mb-position-btn-moto-two {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.mb-btns-linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 584px;
    height: 159px;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}

/* CÂMERAS MOTORISTA O */
.mb-position-cameras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}
.mb-linha {
    display: flex;
    flex-direction: row;
}
.mb-cameras-moto {
    width: 533px;
    height: 346px;
    border-radius: 20px;
    margin: 20px;
    background-color: #B10101;
}
.mb-cameras-title {
    font-family: 'Hind';
    font-weight: 500;
    font-size: 32px;
    line-height: 51px;
    color: #192C4F;
}

/* CLASSES UTILITÁRIAS */

/* background principal */
.mb-bgd-main {
    background-color: #192C4F;
}

/* config textos */
.mb-text-center {
    text-align: center;
}

.mb-text-destaque {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #FFF;
}

.mb-text-dark-blue {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #192C4F;
}

.mb-text-blue {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #77BBED;
}

.mb-text-gray {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-decoration-line: underline;
    color: rgba(218, 218, 218, 0.6);
    cursor: pointer;
}

.mb-text-white {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

/* botões */
.mb-btn-home-moto {
    width: 172px;
    height: 154px;
    background: #101D32;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #000000;
}

.mb-btn {
    font-family: 'Hind', sans-serif;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    width: 342px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.mb-btn-main {
    background-color: #F9B233;
    border: 2px solid #F9B233;
    color: #192C4F;
}

.mb-btn-main:hover {
    background-color: #F29E07;
    border: 2px solid #F29E07;
}

.mb-btn-main-press {
    background-color: #DB8F07;
}

.mb-btn-second {
    border: 2px solid #F9B233;
    background-color: transparent;
    color: #FFF;
}

.mb-btn-second:hover {
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #192C4F;
}

.mb-btn-second-press {
    background-color: #DADADA;
    color: #192C4F;
}

.mb-btn-configuracoes {
    width: 119px;
    height: 119px;
    background-color: #77BBED;
    border-radius: 15px;
}

/* elementos mais usados */
.mb-card {
    width: 430px;
    height: 530px;
    border: 5px solid #77BBED;
    border-radius: 15px;
    margin: 30px;
}

.mb-container-position-retangulo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-background-retangulo {
    width: 743px;
    height: 720px;
    background: rgba(231, 231, 231, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mb-background-retangulo-darkblue {
    width: 1285px;
    height: 822px;
    background: #192C4F;
    border-radius: 15px;
}

.mb-input-login-cadastro {
    width: 571px;
    height: 54px;
    background: #FFFF;
    border: 1px solid #FFF;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}

.mb-question-pp {
    width: 1026px;
    height: 64px;
    background: #77BBED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.mb-question-help {
    width: 588px;
    height: 72px;
    background: #77BBED;
    border-radius: 15px;
    border: 1px solid #77BBED;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

.mb-seta-voltar {
    width: 74px;
    height: 74px;
    position: absolute;
    left: 85px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* margins */
.mb-margin-10 {
    margin: 10px;
}

.mb-margin-22 {
    margin: 22px;
}

.mb-margin-15 {
    margin: 10px;
}

.mb-margin-bottom-20 {
    margin-bottom: 20px;
}

.mb-margin-bottom-35 {
    margin-bottom: 35px;
}

.mb-margin-bottom-70 {
    margin-bottom: 70px;
}

.mb-margin-top-20 {
    margin-top: 20px;
}

.mb-margin-top-70 {
    margin-top: 70px;
}

.mb-margin-top-110 {
    margin-top: 110px;
}

.mb-margin-left-5 {
    margin-left: 5px;
}

/* COISAS PARA FAZER */

/* adiciar erro no formulário (CADASTRO D) */
/* configurar select dos inputs */
/* deixar inputs com restrição apenas para números? */
/* ajustar seta voltar (página) com link */
/* botão ajuda-motorista quando ser selicionado, ficar de outra cor */
/* fazer javascript do botão modo escurto/modo claro */
/* fazer javascript botão on/off */
/* adicionar sinalização do motorista + javascript */