* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INICIO A */
.mb-titulo {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.mb-position-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-img-persona {
    width: 326px;
    height: 363px;
    margin: 30px auto;
    border-radius: 15px;
    display: flex;
}

.mb-text-card {
    font-family: 'Hind';
    font-weight: 400;
    font-size: 25px;
    line-height: 64px;
    color: #FFFFFF;
}

/* INICIO B */
.mb-container-btns {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-position-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-btn-except {
    border-radius: 10px;
    width: 538px;
    height: 106px;
    cursor: pointer;
    margin: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 23px;
    font-weight: medium;
    text-decoration: none;
}

.mb-btn-entrar {
    border: 2px solid #F9B233;
    background-color: #F9B233;
    color: #192C4F;
}

.mb-btn-entrar:hover {
    border: 2px solid #F29E07;
    background-color: #F29E07;
    font-size: 24px;
}

.mb-btn-criar {
    border: 2px solid #F9B233;
    background-color: transparent;
    color: #FFF;
}

.mb-btn-criar:hover {
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #192C4F;
    font-size: 24px;
}

/* LOGIN C */

.mb-input-position {
    width: 590px;
    margin: 40px 0;
}

.mb-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* VERIFICAÇÃO EMAIL E */
.mb-security-code {
    align-items: center;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mb-img-codigo {
    margin-top: 65px;
    margin-bottom: 20px;
}

.mb-text-verificacaoemnail {
    font-family: 'Hind';
    font-style: normal;
    font-weight: medium;
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
}

/* BLUETOOTH L */
.mb-background-retangulo2-bluetooth {
    width: 560px;
    height: 400px;
    background: #192C4F;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mb-titulo-button {
    display: flex;
}

/* COLETAR DIGITAL F */
.mb-position-text-digital {
    width: 580px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* COLETAR DIGITAL I */
.mb-position-center {
    margin: 60px;
}

/* CLASSES UTILITÁRIAS */

/* background principal */
.mb-bgd-main {
    background-color: #192C4F;
}

/* config textos */
.mb-text-center {
    text-align: center;
}

.mb-text-destaque {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #FFF;
}

.mb-text-dark-blue {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #192C4F;
}

.mb-text-blue {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #77BBED;
}

.mb-text-gray {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-decoration-line: underline;
    color: rgba(218, 218, 218, 0.6);
    cursor: pointer;
}

.mb-text-white {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

/* botões */
.mb-btn-home-moto {
    width: 172px;
    height: 154px;
    background: #101D32;
    border-radius: 20px;
    cursor: pointer;
}

.mb-btn {
    font-family: 'Hind', sans-serif;
    font-size: 22px;
    font-weight: medium;
    border-radius: 10px;
    width: 342px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.mb-btn-main {
    background-color: #F9B233;
    border: 2px solid #F9B233;
    color: #192C4F;
}

.mb-btn-main:hover {
    background-color: #F29E07;
    border: 2px solid #F29E07;
}

.mb-btn-main-press {
    background-color: #DB8F07;
}

.mb-btn-second {
    border: 2px solid #F9B233;
    background-color: transparent;
    color: #FFF;
}

.mb-btn-second:hover {
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #192C4F;
}

.mb-btn-second-press {
    background-color: #DADADA;
    color: #192C4F;
}

/* elementos mais usados */
.mb-card {
    width: 430px;
    height: 530px;
    border: 5px solid #77BBED;
    border-radius: 15px;
    margin: 30px;
    /* filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.15)); */
}

.mb-container-position-retangulo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-background-retangulo {
    width: 743px;
    height: 720px;
    background: rgba(231, 231, 231, 0.1);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mb-background-retangulo-darkblue {
    width: 1285px;
    height: 822px;
    background: #192C4F;
    border-radius: 15px;
}

.mb-input-login-cadastro {
    width: 571px;
    height: 54px;
    background: #FFFF;
    border: 1px solid #FFF;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}

.mb-question-pp {
    width: 1026px;
    height: 64px;
    background: #77BBED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.mb-question-help {
    width: 588px;
    height: 72px;
    background: #77BBED;
    border-radius: 15px;
}

.mb-seta-voltar {
    width: 74px;
    height: 74px;
    position: absolute;
    left: 85px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* margins */
.mb-margin-10 {
    margin: 10px;
}

.mb-margin-bottom-20 {
    margin-bottom: 20px;
}

.mb-margin-top-20 {
    margin-top: 20px;
}

.mb-margin-top-70 {
    margin-top: 70px;
}

.mb-margin-top-110 {
    margin-top: 110px;
}

.mb-margin-left-5 {
    margin-left: 5px;
}


/* COISAS PARA FAZER */

/* adiciar erro no formulário (CADASTRO D) */
/* configurar select dos inputs */
/* deixar inputs com restrição apenas para números? */
/* ajustar seta voltar (página) com link */